* {
    font-family: 'Courier Prime', monospace;
    background-color: #FFEAEC;
    color: #220C10;
}

h1 {
    text-align: center;
    color: #B80C09;
}

h1 + hr {
    width: 95%;
    size: 12;
    border-top: 4px solid black;
    border-radius: 25%;
}

.story-box {
    width: 60%;
    text-align: justify;
}

.other-blogs {
    margin-left: 30px;
    width: 35%;
}

.inline {
    display: inline-block;
    vertical-align: text-top;
}

h2 {
    text-align: center;
    color: #0B4F6C;
}

